<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      There is a new review on your activity, <%= @activity.name %>!
    </p>
    <p>Go to trek-plan.herokuapp.com to checkout it out!</p>
  </body>
</html>
