<div class="abouts">
  <div class="me">
    <h1>Trek Plan</h1>
    <br>
    <div class="bio">
      <p>
        I made Trek Plan to help friends plan trips together. I studied abroad in London in the spring of 2015 and had the time of my life.
        I wanted to make an app that would have solved my biggest issue while abroad which was not knowing what to do in the cities we visited.
        I think traveling is one of the greatest things we as humans can do, and to not see the world is a crime.
      </p>
    </div>
    <div class="author">
    <h4>  Creator: Matt McDermott </h4>
    <br>
    <%= link_to 'Github', 'https://github.com/mmcderm8' %>
    <br>
    <%= link_to 'LinkedIn', 'http://linkedin.com/in/matthew-mcdermott' %>
    </div>
  </div>
</div>
