
input#pac-input.controls[type="text" placeholder="Type a city to begin your trek!"]
script[src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO8BpkVP0w3CJbUtgLoDv74WIezpCmUWE&libraries=places&callback=initAutocomplete" async defer]
#map
