<div>
  <div class="addactivity">
    <%= link_to "Add a New Activity", new_activity_path, class: "hollow button" %>
    <br><br>
  </div>
  <% if @activity.nil? %>
    <div id="app"></div>
  <% else %>
    <div class="new">
      <% @activities.each do |activity| %>
        <h5><%= link_to activity.name, activity_path(activity) %></h5>
      <% end %>
    </div>
  <% end %>
</div>
<br>
